@import url("https://fonts.googleapis.com/css2?family=Scheherazade&display=swap");

.App {
  display: flex;
  flex-direction: column;
  width: 73vw;
  height: 100vh;
  right: 0;
  position: absolute;
}
.research {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
.research h1 {
  font-family: "Scheherazade", serif;
  font-size: 5em;
  color: white;
}
.research-bare {
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.ant-input-affix-wrapper {
  padding: 6px 16px !important;
  border-radius: 24px !important;
}
.aya {
  width: 50%;
}
.prayer {
  height: 72vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.err {
  width: 8.5em;
  height: 8.5em;
  background: url(./assets/error.png);
  background-repeat: no-repeat;
}
.nodata {
  width: 8.5em;
  height: 8.5em;
  background: url(./assets/no-data.png);
  background-repeat: no-repeat;
}
.pulse {
  width: 8.5em;
  height: 8.5em;
  background: url(./assets/1.png);
  background-repeat: no-repeat;
}
.pulse::after {
  content: "";
  position: absolute;
  width: 8.5em;
  height: 8.5em;
  z-index: 1;
  background: url(./assets/2.png);
  background-repeat: no-repeat;
  animation: pulse 1s ease infinite;
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
    width: 0em;
  }
  to {
    transform: scale(2);
    opacity: 0;
    width: 8.5em;
  }
}
.prayer-card {
  width: 60vw;
  height: 55vh;
  display: flex;
  flex-direction: column;
  /*background-color: rgb(255, 255, 255);*/
  border-radius: 5%;
  /*box-shadow: 0px 32px 22px -19px rgba(0, 0, 0, 0.75);*/
}
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 23vh;
  color: white;
  font-size: 2.2em;
  width: 66vw;
  font-size: 2.3em;
  position: relative;
}
.title,
.date,
.items {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title h2 {
  color: white;
}
.btn {
  background-color: #b38e24;
  border: none;
  width: 30vw;
}
.btn:hover {
  background-color: #fcf993;
  color: #010e19;
}
.btn:focus {
  background-color: #fcf993 !important;
  color: #010e19;
}
.content-time {
  display: flex;
  justify-content: center;
  width: 65vw;
}
.time {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 22vh;
  list-style: none;
  width: 50vw;
  margin: 0;
  padding: 0;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(./assets/bg-results.png);
  border-radius: 50%;
  width: 8vw;
  height: 15vh;
  font-size: 0.9em;
  font-weight: bold;
}

.one {
  transition: 3s;
  animation: translateone 0.4s ease;
}
@keyframes translateone {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.two {
  transition: 3s;
  animation: translatetwo 0.8s ease;
}
@keyframes translatetwo {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.three {
  transition: 3s;
  animation: translatethree 1.2s ease;
}
@keyframes translatethree {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.four {
  transition: 3s;
  animation: translatefour 1.6s ease;
}
@keyframes translatefour {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.five {
  transition: 3s;
  animation: translatefive 2s ease;
}
@keyframes translatefive {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
